.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 10px 20px;

  border-bottom: 1px solid #ddd;

  background-color: #f8f9fa;
}

.title {
  color: #333;
  font-size: 24px;
}

.info {
  display: flex;
  align-items: center;
}
